.footer {
  padding: 63px 0 50px;

  @media all and (max-width: 1440px) {
    padding: 31px 0 30px;
  }

  &__border {
    margin: 44px 0 40px;
    display: block;
    height: 3px;
    background: linear-gradient(
      89.99deg,
      #00d1ff 0%,
      rgba(255, 34, 141, 0) 100%
    );

    @media all and (max-width: 1440px) {
      margin: 44px 0 40px;
    }

    @media all and (max-width: 1440px) {
      margin: 18px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media all and (max-width: 400px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    width: 17%;

    @media all and (max-width: 1440px) {
      width: 19%;
    }

    @media all and (max-width: 1090px) {
      width: 12%;
    }

    @media all and (max-width: 990px) {
      width: 110px;
      margin-right: 20px;
    }

    @media all and (max-width: 725px) {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }

    @media all and (max-width: 580px) {
      align-items: flex-start;
    }
  }

  &__copyright {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    color: #b7bfd1;
    text-align: end;

    @media all and (max-width: 725px) {
        text-align: center;
      }

    @media all and (max-width: 580px) {
        text-align: start;
      }

      @media all and (max-width: 400px) {
        margin: 24px 0 0;
      }
  }

  &__right {
    
  }

}
