@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Lato-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Lato-Medium.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Lato-Bold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Raleway-Bold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Raleway-SemiBold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Raleway-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Montserrat-Regular.woff) format("woff");
}


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  max-width: 1400px;
  padding: 0 17px;
  margin: 0 auto;
}


.subContainer {
  max-width: 1174px;
  padding: 0 17px;
  margin: 0 auto;
}

@media screen and (max-width:1080px) {
  .container {
    padding: 0 32px;
  }

  .subContainer {
    max-width: 833px;
  }
}

@media screen and (max-width:800px) {
  .container, .subContainer {
    padding: 0 25px;
  }
}

@media screen and (max-width:500px) {
  .container, .subContainer {
    padding: 0 16px;
  }
}

.overflowHidden {
  overflow: hidden;
}


