.header {
  color: #f2f2f2;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px 0 21px;
  z-index: 1;
  background: rgba(21, 36, 72, 0.2);
  backdrop-filter: blur(125px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    padding: 24px 0;
  }

  &__container {
    position: relative;
  }

  &__nav {
    width: 50%;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 1410px) {
        width: 70%;
      }

    @media screen and (max-width: 1080px) {
      width: 75%;
    }

    @media screen and (max-width: 800px) {
        width: 83%;
      }

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      &__item {
        transition: all 0.3s ease-in-out;
        &__link {
          color: #f2f2f2;
          font-family: "Lato";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 128.9%;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: 1080px) {
            font-size: 18px;
          }
        }
        &:not(:last-child) {
          margin-right: 48px;
          @media screen and (max-width: 1080px) {
            margin-right: 40px;
          }
        }
      }
      &:hover &__item:not(:hover) {
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
